# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C projects\Lock-free_queue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
